
:host ::ng-deep {
  .p-datatable-header{
    border-top:none
  }
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }



  .table-header {
    display: flex;
    justify-content: space-between;
  }

  .p-calendar .p-datepicker {
    min-width: 25rem;

    td {
      font-weight: 400;
    }
  }

  .p-datatable.p-datatable-customers {
    .p-datatable-header {
      padding: 1rem;
      text-align: left;
      font-size: 1.5rem;
    }

    .p-paginator {
      padding: 1rem;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
    }

    .p-datatable-tbody > tr > td {
      cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
      text-transform: uppercase;
    }
  }


  .p-w-100 {
    width: 100%;
  }

  /* Responsive */
  .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  .action-button button{
    background-color: black;
    border: 1px solid #ffffff;
  }
  .action-button button:first-child{
    border-left: 1px solid #000000;
  //  make button disabled
    &:disabled{
      background-color: #f1f1f1;
      border: 1px solid #f1f1f1;
    }


  }

    .profile-image{
    //round image
    border-radius: 50%;
    width: 100px;
    height: 100px;

  }

  .confirm{
    background-color: #f1f1f1;
  }

  /* styles.css */
  .green-dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  .red-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .status-dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

}

@media screen and (max-width: 960px) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-customers {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr {
          border-bottom: 1px solid var(--layer-2);

          > td {
            text-align: left;
            width: 100%;
            display: flex;
            align-items: center;
            border: 0 none;

            .p-column-title {
              min-width: 30%;
              display: inline-block;
              font-weight: bold;
            }

            p-progressbar {
              width: 100%;
            }

            &:last-child {
              border-bottom: 1px solid var(--surface-d);
            }
          }
        }
      }
    }
  }

  .userDataRow{
    color: #0000;
  }

}
