<app-page-header
  pageTitle="User Profile"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
  [showAddMemberButton]="true"
  (click)="addMember()"
/>


<div>
  <p-table
    #dt1
    [value]="users"
    selectionMode="single"
    [(selection)]="selectedUsers"
    dataKey="id"
    [tableStyle]="{'min-width': '50rem'}"
    [rows]="10"
    [paginator]="true"
    stateStorage="session"
    stateKey="statedemo-session"


    [globalFilterFields]="['id', 'name', 'status', 'roles']"

  >

    <ng-template pTemplate="caption">
      <div class="flex">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
        <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <!-- <th>
          <span class="p-column-title">Id</span>
        </th> -->
        <th>
          <span class="p-column-title">Name</span>
        </th>
        <th>
          <span class="p-column-title">Email</span>
        </th>
        <!-- <th>
          <span class="p-column-title">Status</span>
        </th> -->
        <th>
          <span class="p-column-title">Roles</span>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user" class="userDataRow">
        <!-- <td>
          <span class="p-column-title">Id</span>
          {{user.id}}
        </td> -->

        <td>
          <span class="ml-1 vertical-align-middle">{{user.username}}</span>
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{user.email}}</span>
  
        <td>
          <p-tag class="pe-1" *ngFor="let role of user.groups" [value]="role" [style.color]="getRoleColor(role)"></p-tag>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
