.p-panel .p-panel-content {
  padding: 0;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc; /* Adds underline */
  padding-bottom: 2px; /* Adds padding to create space between text and underline */
  margin-bottom: 1rem; /* Adds space below the title */
  position: relative; /* Make sure the position is relative for the menu */
}

.chart-title {
  font-size: 18px;
  font-weight: bold; /* Make the title bold */
  text-align: left;
  padding-top: 1px;
  padding-left: 2px;
}

.menu-container {
  position: relative; /* Ensure the menu is positioned relative to the container */
}

.menu-icon {
  cursor: pointer;
}


:host ::ng-deep{
  .p-panel{
    height:100%;

  }
  .p-component{
    height:100%;
  }
  .p-panel-content{
    height:100%;
  }
  .p-panel-header{
    padding:0;

  }
  .p-toggleable-content{
    height:100%
  }
  .chart-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30px;

  }
  .p-menubar{
    border:none;
    background: inherit;
  }
  angledownicon{
    display:none;
  }

}
