:host ::ng-deep{
  .chartGrid{
    background-color: inherit;
  }
  gridster{
    position: initial;
  }

}
.chart-container {
  position: relative;
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
}

.container-border{
  border:1px solid black;
}