//:host ::ng-deep {
//  .chartGrid {
//    background-color: inherit;
//    bottom:100px;
//  }
//
//  gridster {
//    position: initial;
//    padding:0 !important;
//    margin-top:10px;
//  }
//
//  gridster-item {
//  width: 100%;
//  height: 100%;
//}
//
//}
//
//.rotate-90 {
//  transform: rotate(90deg);
//}
//
//.chart-container {
//  //position: relative;
//}
//
//.container-border {
//  border: 1px solid rgb(215, 215, 215);
//}
//
//.title-container {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  border-bottom: 2px solid #ccc; /* Adds underline */
//  padding-bottom: 2px; /* Adds padding to create space between text and underline */
//  margin-bottom: 1rem; /* Adds space below the title */
//  //position: relative; /* Make sure the position is relative for the menu */
//}
//
//.chart-title {
//  font-size: 18px;
//  font-weight: bold; /* Make the title bold */
//  text-align: left;
//  padding-top: 1px;
//  padding-left: 2px;
//}
//
//.menu-container {
//  position: relative; /* Ensure the menu is positioned relative to the container */
//}


:host ::ng-deep {
  .chartGrid {
    background-color: inherit;
    bottom: 100px;
  }

  gridster {
    position: initial;
    padding: 0 !important;
    margin-top: 10px;
  }

  gridster-item {
    width: 100%;
    height: 100%;
  }

  .rotate-90 {
    transform: rotate(90deg);
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .container-border {
    border: 1px solid rgb(215, 215, 215);
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc; /* Adds underline */
    padding-bottom: 2px; /* Adds padding to create space between text and underline */
    margin-bottom: 1rem; /* Adds space below the title */
  }

  .chart-title {
    font-size: 1.5vw; /* Responsive font size */
    font-weight: bold; /* Make the title bold */
    text-align: left;
    padding-top: 1px;
    padding-left: 2px;
  }

  .menu-container {
    position: relative; /* Ensure the menu is positioned relative to the container */
  }
}
