<ng-container *ngFor="let issueItem of issueData">
  <app-issue-card-list-type [issueData]="issueItem"></app-issue-card-list-type>
  <hr />
</ng-container>

<app-page-header
  pageTitle="Email Filtering"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
  [showButton]="false"
/>

<p-panel>
  <p-dataView [value]="issueData" layout="list">
    <ng-template pTemplate="list" let-issues>
      <div class="px-5 py-1">
        <div *ngFor="let issue of issues">
          <app-issue-card-list-type
            [issueData]="issue"
          ></app-issue-card-list-type>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</p-panel>
