<app-page-header pageTitle="Call Analytics Recordings" class="w-full h-fit" [breadcrumbItems]="breadcrumbItems"
    [showDatePicker]="false" [showButton]="false" />
<div class="flex flex-col">
        <div class="card flex justify-content-center">
            <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php"
                [multiple]="true" accept=".mp3,.wav" >
                <ng-template pTemplate="toolbar">
                    <div class="py-3">Upload 3 Files</div>
                </ng-template>
                <ng-template let-file pTemplate="file">
                    <div>Custom UI to display a file</div>
                </ng-template>
                <ng-template pTemplate="content" let-files>
                    <div>Additional content.</div>
                </ng-template>
            </p-fileUpload>
        </div>
</div>