<app-page-header pageTitle="Call Analytics Recordings" class="w-full h-fit" [breadcrumbItems]="breadcrumbItems"
                 [showDatePicker]="false" [showButton]="false"/>
<div class="flex flex-col">
  <div class="card flex justify-content-center">
    <p-fileUpload [multiple]="true" #callUpload accept=".mp3,.wav" name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUploadClick($event)"
                  (onSelect)="onSelectFilesToUpload($event)" (onClear)="onCancel()">
      <ng-template pTemplate="toolbar">

        <div class="py-3">Upload {{ selectedFilesCount }} Files</div>
      </ng-template>
      <ng-template let-file let-i="index" pTemplate="file">
        <h5>{{ file.name }}</h5>
        <div class="grid p-fluid">
          <p-inputGroup class="mb-5">
            <input type="text" required pInputText [(ngModel)]="descriptionList[i]" placeholder="Description">
            <p-inputGroupAddon>
              <i class="pi pi-book"></i>
            </p-inputGroupAddon>
          </p-inputGroup>

          <p-calendar [(ngModel)]="dateList[i]" [showIcon]="true" placeholder="Date"></p-calendar>
        </div>
      </ng-template>

      <ng-template pTemplate="content" let-files>
        <!-- Display default icon if no files are selected -->
        <div *ngIf="selectedFilesCount == 0">
          <p>Select Files To Upload</p>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</div>

