tr, td, th {
    border: 1px solid #ccc;
}
tr {
    height: 3rem;
}
table {
    border-collapse: collapse; // to avoid double borders between each cells
    width: 100%;
}
th {
    background-color: #eeeeee;
    font-weight: normal;
}
td {
    background-color: white;
    padding: 0 0.5rem;
}
.table-container {
    background-color: white;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

span {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background-color: #3b82f6;
    font-size: 1rem;
    text-align: center;
    color: white;
    width: 100px;
    display: inline-block;
  }
  .span-green {
    background-color: #22c55e;
  }
  .span-red {
    background-color: #fa333d;
  }
  .span-blue {
    background-color: #707070;
  }
  .center {
    text-align: center;
  }

  .span-topic {

    margin: 0 5px;
    background-color: white;
    color: #3b82f6;
    -webkit-box-shadow:inset 0px 0px 0px 2px #3b82f6;
    -moz-box-shadow:inset 0px 0px 0px 2px #3b82f6;
    box-shadow:inset 0px 0px 0px 2px #3b82f6;
    min-width: 20px;
    width: auto;
}