<div class="table-container">
  <table>
    <tr>
      <th>Subject</th>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Date</th>
      <th>Sentiment</th>
      <th>Topics</th>
    </tr>
    <tr *ngFor="let row of rows">
      <td>{{ row.subject }}</td>
      <td>{{ row.sender }}</td>
      <td>{{ row.receiver }}</td>
      <td>{{ row.date }}</td>
      <td class="center">
        <span
          [ngClass]="{
            'span-green': row.sentiment === 'Positive',
            'span-red': row.sentiment === 'Negative',
            'span-blue': row.sentiment === 'Neutral'
          }"
          >{{ row.sentiment }}</span
        >
      </td>
      <td>
        <span class="span-topic" *ngFor="let topic of row.topics">{{
          topic
        }}</span>
      </td>
    </tr>
  </table>
</div>
