
<p-panel>
  <p-table [value]="rows" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" id="subject-header">Subject</th>
        <th scope="col" id="date-header">Date</th>
        <th scope="col" id="time-header">Time</th>
        <th scope="col" id="sentiment-header">Sentiment</th>
        <th scope="col" id="topics-header">Topics</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.subject }}</td>
        <td>{{ row.date }}</td>
        <td>{{ row.time }}</td>
        <td><p-tag value="{{ row.sentiment }}" severity="{{ getSeverity(row.sentiment) }}"></p-tag></td>
        <td>
          <p-tag *ngFor="let topic of row.topics" value="{{ topic }}" severity="info"></p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
