<app-page-header pageTitle="Call Analytics Dashboard" class="w-full h-fit" [breadcrumbItems]="breadcrumbItems" />
<div class="flex flex-col">
    <div class="flex gap-7 flex-wrap">
        <p-tabView>
            <p-tabPanel header="Notifications">
                Content of Tab 1
            </p-tabPanel>
            <p-tabPanel header="Call Integration">
                Content of Tab 2
            </p-tabPanel>
            <!-- Add more tabPanel as needed -->
        </p-tabView>

    </div>
</div>