<!-- <p-card class="flex flex-col justify-start items-center border border-slate-500 rounded-lg bg-gray-400 w-full"> -->
<div
  class="flex flex-col gap-4 items-center justify-center overflow-hidden border border-slate-500 rounded-lg bg-gray-400 hover:bg-gray-300 hover:cursor-pointer transition hover:duration-150 *:w-auto absolute inset-0 p-5" 
  onclick="alert('You clicked me!')"
  tooltip="New issues in the last 24 hours"
>
  <div class="text-2xl">
    Issues Today
  </div>
  <div class="text-7xl">
    127
  </div>
  <div class="text-lg">
    +3.5% increase from last week
  </div>

</div>
