.block {
    margin: 20px 5px;
}

.top-right-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.text-top-right-bar {
    font-size: 0.9rem;
    width: auto;
    color: #677077;
    font-weight: bold;
}

.right-bar-icon {
    cursor: pointer;
}

.text-faded1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    padding: 0;
    margin: 0;
}

.text-faded {
    font-size: 0.9rem;
    width: auto;
    color: #9eabb6;
    padding: 0;
    margin: 10px 0;
    font-weight: bold;
}

.table-style th {
    font-size: 1rem;
    color: #9eabb6;
    font-weight: bold;
}

.table-style td {
    color: #2c3033;
    font-size: 1rem;
}