<div class="card-bg">
    <table>
      <tr>

        <td class="email">{{ emailAddress }}</td>
        <td class="nickname" rowspan="2">{{ nickName }}</td>
        <td class="buttons align-right padding-right" rowspan="2">
          <button id='btnEdit' (click)="onEdit()"><i class="pi pi-pencil" style="color: rgb(240, 239, 245)"></i> &nbsp;Edit</button>
        </td>
        <td class="buttons align-right padding-right" rowspan="2">
          <button id='btnDel'(click)="onDelete()"><i class="pi pi-trash" style="color: rgb(240, 239, 245)"></i> &nbsp; Delete </button>
        </td>
      </tr>

      
  
    </table>
  </div>
  
