<form [formGroup]="newPasswordForm" >
  <div>
    <label for="currentPassword">Current Password</label>
    <input type="password" id="currentPassword" formControlName="currentPassword" required>
  </div>
  <div>
    <label for="password">New Password</label>
    <input type="password" id="password" formControlName="password" required>
  </div>
  <div>
    <label for="confirmPassword">Confirm New Password</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
  </div>
  <button type="submit">Change Password</button>
</form>
