<app-page-header
  pageTitle="Email Filtering"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
  [showButton]="false"
/>

<p-panel class="flex flex-col text-left justify-center mb-4">
  <div class="flex gap-8 justify-between">
    <!--Calendar-->
    <div>
      <p>Date Range:</p>
      <div class="card flex justify-content-center">
        <p-calendar
          [(ngModel)]="dateRange"
          selectionMode="range"
          [readonlyInput]="true"
          [showIcon]="true"
          [showButtonBar]="true"
        ></p-calendar>
      </div>
    </div>

    <!--Product-->
    <div>
      <p>Product:</p>
      <div class="card flex justify-content-center grow">
        <p-dropdown
          [options]="products"
          [(ngModel)]="productSelected"
          [showClear]="true"
          placeholder="Product"
        ></p-dropdown>
      </div>
    </div>

    <!--Recepient email account-->
    <div>
      <p>Receiver:</p>
      <div class="card flex justify-content-center">
        <p-dropdown
          [options]="recipientEmails"
          [(ngModel)]="recipientEmailSelected"
          [showClear]="true"
          placeholder="Recepient email accounts"
        ></p-dropdown>
      </div>
    </div>

  </div>

  <br />
  <br />
  <br />


  <!--Next row-->
  <div class="w-100 flex justify-center">

    <!-- Buttons -->
    <div class="card flex center justify-center gap-3 items-end">
      <p-button 
        label="Apply Filter"
        (click)="applyFilters()"
        (keydown.enter)="applyFilters()"
      ></p-button>
      <p-button
        label="Clear Filters"
        [outlined]="true"
        (click)="clearFilters()"
        (keydown.enter)="clearFilters()"
      ></p-button>
    </div>
  </div>
  <br />
</p-panel>

<br />

<div *ngFor="let item of suggestionsData">
    <app-suggestion-card
    [receiver] = "item.receiver"
    [date] = "item.date"
    [productsList] = "item.products"
    [suggestion]="item.suggestion"
    />

</div>

<!-- <app-email-table /> -->

