<app-page-header pageTitle="Campaign Analysis" class="w-full h-fit" [breadcrumbItems]="breadcrumbItems" />

<div class="flex flex-col">
  <div>
    <p-panel>
      <tabs>
        <tab-item [tabItem]="tabFacebook" [templateContentRef]="contentRef" [content]="caPageContent"></tab-item>
        <tab-item [tabItem]="tabInstagram" [templateContentRef]="contentRef" [content]="caPageContent"></tab-item>
      </tabs>

      <ng-template #contentRef let-content="content">
        <div style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          ">
          <h3>{{ content.subtitle }}</h3>
          <div style="display: flex; flex-direction: row; align-items: center">
            <p class="text-top-right-bar semi-balted">{{ topBarCaption }}</p>
            <app-modal-add-new-campaign></app-modal-add-new-campaign>
          </div>
        </div>

        <p-panel>
          <div class="flex justify-between w-full py-2 mb-2">
            <div>
              <h4 class="p-0 m-0">
                {{ content.topCampaigns.length }} top performing campaigns
              </h4>
            </div>
            <div>
              <button class="p-button p-button-sm p-button-secondary" (click)="toggleAdditionalCards()">
                See More
              </button>
            </div>
          </div>
          <app-ca-cards [campaigns]="content.topCampaigns" [showAdditionalCards]="true" [loading]="loading"></app-ca-cards>
          <app-ca-cards [campaigns]="content.additionalCampaigns" [showAdditionalCards]="showAdditionalCards" [loading]="loading"></app-ca-cards>
        </p-panel>
      </ng-template>

    </p-panel>
  </div>
</div>