
.stat-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::ng-deep .p-card {
  width: 325px;
  height: 450px;
  border-radius: 12px;
  margin: 10px;
  overflow: hidden;
  display: grid;
  flex-direction: column;
  padding: 0;
}

.image-container {
  width: calc(100% + 40px);
  height: 225px;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  grid-row: 1; 
  margin: -40px -100px 0 -20px; 
  border-radius: 10px;
}

.campaign-name-overlay{
  position:sticky;
  bottom: 200px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 15px 15px 0px 15px;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}

.campaign-image{
  filter: brightness(70%);
}
.text-container {
  border-radius: 0 0 10px 10px;
  width: calc(100% + 40px); 
  height:223.5px;
  grid-row: 2; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 10px;
  margin: 0 -100px -20px -20px;
}

.text-container p {
  margin: 0; 
}

.text-container button {
  display: inline-block;
  margin-top:auto; 
  justify-content: center;
}

.text-container button:last-child {
  margin-bottom: 10px; 
}

.campaign-info {
  margin: 20px 10px 20px 10px;
  .row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

  }

  .campaign-name{
    margin-right: 10px;

  }
  
  .row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

  }
  .sentiment-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }

}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
