<app-page-header
  pageTitle="Campaign Analysis"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
/>

<div class="flex flex-col">
  <div>
    <p-panel>

      <tabs>
        <tab-item [tabItem]="tabFacebook" [templateContentRef]="tempFacebook" [templateRightRef]="topBarRight" [content]="caPageItem1"></tab-item>
        <tab-item [tabItem]="tabInstergram" [templateContentRef]="tempFacebook" [templateRightRef]="topBarRight" [content]="caPageItem2"></tab-item>
        <tab-item [tabItem]="tabTwitter" [templateContentRef]="tempFacebook" [templateRightRef]="topBarRight" [content]="caPageItem3"></tab-item>
      </tabs>
      
      <ng-template #topBarRight let-content="content">
        <p class="text-top-right-bar">{{topBarCaption}} : </p>
        <img src="assets/social-media/svg/view.svg" alt="View Icon" class="right-bar-icon">
        <img src="assets/social-media/svg/add.svg" alt="Add Icon" class="right-bar-icon">
    </ng-template>

    <ng-template #tempFacebook let-content="content">
      <h3>{{ content.title }}</h3>
    </ng-template>

      <ng-template #tempInstergram let-content="content">
        <h3>{{ content.title }}</h3>
      </ng-template>

      <ng-template #tempTwitter let-content="content">
        <h3>{{ content.title }}</h3>
      </ng-template>

    </p-panel>
  </div>
</div>