<div
  class="flex flex-col gap-3 justify-start items-center overflow-hidden border border-solid border-slate-300 rounded-lg bg-white hover:bg-gray-50 hover:border-sky-400 hover:cursor-pointer transition hover:duration-150 w-auto absolute inset-0 p-2"
  onclick="alert('You clicked me!')"
  tooltip="New issues in the last 24 hours"
>
  <!-- div 1 -->
  <div class="flex justify-start items-center h-20">
    <span class="font-medium text-2xl lg:text-3xl 2xl:text-5xl">
      Email Accounts</span
    >
  </div>
  <!-- div 2 -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-y-4 items-center justify-center w-full 2xl:items-start"
  >
    <!-- div 2.1 -->
    <div class="w-full size-16 ">
    </div>
    <!-- div 2.2 -->
    <div class="w-full size-16 ">
    </div>
    <!-- div 2.3 -->
    <div class="w-full size-16 ">
    </div>
    <!-- div 2.4 -->
    <!-- <div class="w-full size-6 ">
    </div> -->

    <!-- div 2.6 -->
    <!-- <div
      class="w-full h-10 flex flex-row place-content-evenly items-center bg-gray-400"
    >
      <div>
        <i class="pi pi-reddit text-xl" style="color: #000"></i>
      </div>
      <div class="w-[70%] bg-green-400">graph goes here</div>
    </div> -->
    <!-- end of div x.x -->
  </div>
</div>
