<p-panel class="flex w-auto h-auto mb-4">
  <img src="./assets/{{ imgPath }}" class="self-center w-[60px] h-[60px]" />

  <div class="mt-1 mb-1 self-center">
    <p class="font-bold text-2xl mt-1 mb-1">{{ title }}</p>
    <p class="text-sm text-gray-500 font-medium">{{ subTitle }}</p>
  </div>

  <div class="mt-1 mb-1 self-center">
    <p class="font-bold text-2xl mt-1 mb-1">{{ header }}</p>
  </div>

  <div class="mt-1 mb-1 self-center">
    <p class="text-2xl mt-1 mb-1">{{ sentiment }}</p>
  </div>
</p-panel>
