html {
    background-color: #eee
  }
  
  .card-bg {
    background-color: #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  
  table {
      border: 1px solid white;
      border-collapse: collapse;
      width:100%;
  }
  
  table th {
    text-align: left;
    font-weight: 500;
  }

  .subject {
    font-size: 1.2rem;
  }

  table td, th {
    border: 1px solid white;
    padding: 0.5rem;
  }
  
  table td.shrink, th.shrink {
      white-space:nowrap
  }
  table td.expand, th.expand {
      width: 98%
  }
  table td.align-right {
    text-align: right;
  }

  table td button {
    --primary: #3b82f6;
    --secondary: white;
    padding: 0.5rem 0;
    width: 150px;
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--secondary);
    border: 0;
   }
  table td button:hover {
    background-color: red;
    color: var(--primary);
    background-color: var(--secondary);
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--primary);
    -moz-box-shadow:inset 0px 0px 0px 2px var(--primary);
    box-shadow:inset 0px 0px 0px 2px var(--primary);
    cursor: pointer;
   }
  
  .padding-right {
    padding-right: 2.5rem;
  }
  
  .align-justify {
    text-align: justify;
  }
  span {
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    background-color: #22c55e;
    font-size: 1rem;
    text-align: center;
    color: white;
    width: 150px;
    display: inline-block;
  }
  .span-green {
    background-color: #22c55e;
  }
  .span-red {
    background-color: #fa333d;
  }
  .span-blue {
    background-color: #707070;
  }
  th.subject {
    font-size: 1.2rem;
    font-weight: 900;
  }
  hr {
    opacity: 0.3;
  }