<p-panel class="flex flex-col text-center justify-center w-[700px] mb-4">
  <p class="font-medium text-xl text-start">Recent Call Recordings</p>
  <div class="flex justify-between items-center px-3 mb-5" *ngFor="let call of recentCalls">
    <div class="flex items-center gap-8">
      <img src="./assets/call/phone.png" width="25" height="25">
      <div class="flex flex-col justify-start">
        <p class="mb-0 mt-0">{{ call.description }}</p>
        <p class="mb-0 mt-0 text-gray-500 w-fit text-xs">{{ call.date.toLocaleString() }}</p>
      </div>
    </div>
    <div>
      <p-tag [style]="{'background': statusColors[call.sentiment], 'width': '65px'}" value="{{call.sentiment}}"></p-tag>
    </div>
    <div class="flex gap-3">
      <p-button icon="pi pi-bars" severity="success" size="small" pTooltip="View Transcription"
                [outlined]="true"></p-button>
      <p-button icon="pi pi-play" [outlined]="true" size="small" pTooltip="Play Recording"></p-button>
    </div>
  </div>
</p-panel>
