<app-page-header
  pageTitle="Email Summaries"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
  [showButton]="false"
/>

<app-filter-query [topics]="['All','VEGA','TravelBox']" />
<br />
<app-summary-card
  title="Issue with VEGA"
  receiver="vega.support@gmail.com"
  sender="samanmali@gmail.com"
  sentiment="Positive"
  summary="It is not good. Terrible"
/>
<br />
<app-summary-card
  title="Issue in TravelBox"
  receiver="support@travelbox.codegen.net"
  sender="amal@outlook.com"
  sentiment="Negative"
  summary="encountered situations where the content about certain destinations appears to be culturally insensitive or incomplete. It's crucial for virtual travel guides like TravelBox to prioritize accuracy and representation to ensure a respectful and enriching experience for all users. I understand that developing and maintaining a comprehensive travel guide is a complex task, but I believe addressing these issues will significantly enhance the overall user experience and contribute to creating a more inclusive platform."
/>
<br />
<app-summary-card
  title="Customer service not good"
  receiver="codegen.support@codegen.net"
  sender="Jason@hotmail.com"
  sentiment="Neutral"
  summary="Meh"
/>
<br />
