<p-panel class="flex flex-col text-center justify-center h-full">
    <p class="font-medium text-xl">{{ title }}</p>
    <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
</p-panel>


<!-- <p-card header="{{ title }}">
    <p>Content for Card 2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic tempore quos iusto, reiciendis aperiam suscipit nulla repellendus dolore sapiente repudiandae similique perspiciatis minima, eos quisquam, quibusdam commodi beatae cumque blanditiis.</p>
</p-card> -->