<app-page-header
    pageTitle="Role Management"
    class="w-full h-fit"
    [breadcrumbItems]="breadcrumbItems"
/>
<div>
    <p-table
        #dt1
        [value]="roles"
        selectionMode="single"
        dataKey="id"
        [tableStyle]="{'min-width': '50rem'}"
        [rows]="10"
        [paginator]="true"
        stateStorage="session"
        stateKey="statedemo-session"
        [globalFilterFields]="['id', 'name', 'status', 'roles']"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button
                    pButton
                    label="Clear"
                    class="p-button-outlined"
                    icon="pi pi-filter-slash"
                    (click)="clear(dt1)"
                ></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <span class="p-column-title">Role Name</span>
                </th>
                <th>
                    <span class="p-column-title">Action</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
            <tr [pSelectableRow]="role">
                <td >
                    <span class="p-column-title ">Id</span>
                    {{role.name}}
                </td>

                <td>
                    <span class="ml-1 vertical-align-middle">
                      <p-button icon="pi pi-pencil" [rounded]="true" [text]="true"></p-button>
                    </span
                    >
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
