<app-page-header
    pageTitle="Role Management"
    class="w-full h-fit"
    [breadcrumbItems]="breadcrumbItems"
    [showAddRoleButton]="true"
/>
<div>
    <p-table
        #dt1
        [value]="roles"
        [tableStyle]="{'min-width': '50rem'}"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['group_name']"
        [(selection)] = "selectedRoles"
        dataKey="group_name"

    >
        <ng-template pTemplate="caption">
            <div class="flex">
<!--                <button-->
<!--                    pButton-->
<!--                    label="Clear"-->
<!--                    class="p-button-outlined"-->
<!--                    icon="pi pi-filter-slash"-->
<!--                    (click)="clear(dt1)"-->
<!--                ></button>-->

                <span class="p-input-icon-left mr-auto">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword"
                    />
                </span>

              <p-splitButton
                label="Action"
                class="pr-auto action-button pr-2"
                [model]="actions"
                (onClick)="console.log('info')"
              />
            </div>
        </ng-template>
        <ng-template pTemplate="header">

            <tr>
<!--                <th style="width: 8rem; padding-left:2rem"><p-tableHeaderCheckbox /></th>-->
                <th style="width: 4rem"></th>

                <th>
                    <span class="p-column-title">Role Name</span>
                </th>
                <th>
                    <span class="p-column-title">Number of users</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
            <tr>
                <td>
                        <p-tableRadioButton [value]="role" />
                </td>
<!--                <td>-->
<!--                        <p-tableCheckbox [value]="role" />-->
<!--                </td>-->
                <td>
                  {{ role.group_name }}
                </td>
                <td class="numberOfUsers">
                    {{ role.number_of_users }}
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No customers found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
