:host ::ng-deep li {
    word-break: break-all;  // Don't remove. This prevents p-autoComplete from overflowing
}

:host ::ng-deep .p-panel .p-panel-header {
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 0.25rem 1.25rem;
    cursor: pointer;
}

:host ::ng-deep .p-panel .p-panel-header:hover {
    background-color: #f5f7fa;
}