.block {
    margin: 20px 5px;
}

.text-title1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    padding: 0;
    margin: 0;
}

.text-faded {
    font-size: 0.9rem;
    color: #9eabb6;
    padding: 0;
    margin: 10px 0;
    font-weight: bold;
}

.table-style th {
    font-size: 1rem;
    color: #9eabb6;
    font-weight: bold;
}

.table-style td {
    color: #2c3033;
    font-size: 1rem;
}
