<div class="flex flex-col">
  <div>
    <p-panel>

      <div class="block" style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        ">
        <p class="text-faded">
          <ng-container *ngIf="list_alerts.length > 0; else noThresholds">
            {{ list_alerts.length }} Custom Alerts
          </ng-container>
          <ng-template #noThresholds>No Custom Alerts</ng-template>
        </p>
        <div style="display: flex; flex-direction: row; align-items: center">
          <p class="text-top-right-bar">{{ topBarCaption }} :</p>
          <app-modal-set-alert></app-modal-set-alert>
        </div>
      </div>

      <ng-container *ngIf="list_alerts.length > 0">
        <div class="card">
          <p-table [value]="list_alerts" [tableStyle]="{ 'min-width': '50rem' }" class="table-style">
            <ng-template pTemplate="header">
              <tr>
                <!-- <th style="width: 5%">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th> -->
                <th pSortableColumn="keywords" style="width: 30%">
                  PRODUCT
                  <p-sortIcon field="keywords"></p-sortIcon>
                </th>
                <th pSortableColumn="alert_type" style="width: 20%">
                  ALERT TYPE
                  <p-sortIcon field="alert_type"></p-sortIcon>
                </th>
                <th pSortableColumn="min_val" style="width: 40%">
                  SENTIMENT THRESHOLD
                  <p-sortIcon field="min_val"></p-sortIcon>
                </th>
                <th style="width: 10%">ACTION</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <!-- <td>
                <p-tableCheckbox></p-tableCheckbox>
              </td> -->
                <td>{{ item.product }}</td>
                <td>{{ item.alert_type }}</td>
                <td>
                  <span>From {{ item.min_val }} to {{ item.max_val }}</span>
                  <progress-bar [value]="(item.min_val + 10) * 5" [bufferValue]="(item.max_val + 10) * 5"
                    [color]="'#3699FF'"></progress-bar>
                </td>
                <td>
                  <div class="flex align-items-center justify-content-center gap-2">
                    <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEdit(item)"
                      class="p-button-text p-button-Primary"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(item)"
                      class="p-button-text p-button-danger"></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </ng-container>

    </p-panel>
  </div>
</div>