.stat-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0.8rem 0 0;
  
}

.upper-section .exportData-btn {
  width: 10%;
  display: flex;
  justify-items: flex-end;
  flex-direction: row;
  cursor: pointer;
  
}
