<app-page-header pageTitle="Settings" class="w-full h-fit" [breadcrumbItems]="breadcrumbItems" />

<div class="flex flex-col">
  <div>
    <p-panel>

      <tabs>
        <tab-item [tabItem]="tabNotifications" [templateRef]="TempNotifictions" [content]="content1"></tab-item>
        <tab-item [tabItem]="tabThresholds" [templateRef]="TempThresholds" [content]="content2"></tab-item>
        <tab-item [tabItem]="tabAlerts" [templateRef]="TempAlerts" [content]="content3"></tab-item>
        <tab-item [tabItem]="tabCampaigns" [templateRef]="TempCampaigns" [content]="content4"></tab-item>
      </tabs>

      <ng-template #TempNotifictions let-content="content">
        <h3>{{ content.title }}</h3>
      </ng-template>

      <ng-template #TempThresholds let-content="content">
        <h3>{{ content.title }}</h3>
      </ng-template>

      <ng-template #TempAlerts let-content="content">
        <settings-alerts></settings-alerts>
      </ng-template>

      <ng-template #TempCampaigns let-content="content">
        <h3>{{ content.title }}</h3>
      </ng-template>


    </p-panel>
  </div>
</div>