<app-page-header
  pageTitle="Settings"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
/>

<div class="flex flex-col">
  <div>
    <p-panel>
      <tabs>
        <tab-item
          [tabItem]="tabNotifications"
          [templateContentRef]="TempNotifictions"
          [content]="content1"
        ></tab-item>
        <tab-item
          [tabItem]="tabThresholds"
          [templateContentRef]="TempThresholds"
          [content]="content2"
        ></tab-item>
        <tab-item
          [tabItem]="tabAlerts"
          [templateContentRef]="TempAlerts"
          [content]="content3"
        ></tab-item>
        <tab-item
          [tabItem]="tabCampaigns"
          [templateContentRef]="TempCampaigns"
          [content]="content4"
        ></tab-item>
      </tabs>

      <ng-template #TempNotifictions let-content="content">
        <div class="upper-section">
          <h3>{{ content.title }}</h3>
          <div class="exportData-btn">
            <app-modal-export-pi></app-modal-export-pi>
          </div>
        </div>
        <settings-notifications></settings-notifications>
      </ng-template>

      <ng-template #TempThresholds let-content="content">
        <h3>{{ content.title }}</h3>
        <settings-thresholds></settings-thresholds>
      </ng-template>

      <ng-template #TempAlerts let-content="content">
        <h3>{{ content.title }}</h3>
        <settings-alerts></settings-alerts>
      </ng-template>

      <ng-template #TempCampaigns let-content="content">
        <h3>{{ content.title }}</h3>
        <settings-campaign></settings-campaign>
      </ng-template>
    </p-panel>
  </div>
</div>
