.st-card {
    padding-left: 5px ;
   
  }
  
  :host ::ng-deep .p-panel-content {
    display: flex;
    justify-content: space-around;
    border-radius: 12px !important;
    padding: 9px;
  }
  
  :host ::ng-deep .p-component {
    width: 100%;
  }
  