<div class="w-full py-4" (click)="popup()">
  <div class="flex flex-col justify-evenly items-center">
    <div class="text-sm font-semibold text-slate-600">Sentiment Insights</div>
    <div class="w-60 h-40 md:w-60 md:h-40" echarts [options]="option"></div>
  </div>
</div>


<p-dialog
  header="Sentiment Overview"
  [(visible)]="dialogVisible"
  [style]="{ width: '70vw' }"
  [modal]="true"
  [closable]="true"
  [maximizable]="true"
  [draggable]="false"
  [breakpoints]="{ '1199px': '80vw', '575px': '90vw' }"
>
  <app-dashboard 
  [intervalInDaysStart]="intervalInDaysStart"
  [intervalInDaysEnd]="intervalInDaysEnd">
  </app-dashboard>

</p-dialog>
