<!--<div class="h-screen flex">-->
<!--  <div class="w-1/2 h-full"></div> &lt;!&ndash; Login/Signup Picture&ndash;&gt;-->
<!--  <div class="w-1/2 h-full"></div> &lt;!&ndash; Login/Signup Form&ndash;&gt;-->
<!--</div>-->


<div class="h-screen flex flex-col">
  <div class="h-[75px]"></div>  <!-- Top Navigation Bar -->
  <div class="flex flex-grow">
    <div class="w-[400px] hidden xl:block"></div>  <!-- Side Navigation Bar -->
    <div class="flex flex-grow">
      <router-outlet></router-outlet>
    </div>  <!-- Content Area -->
  </div>
</div>
