<div class="h-screen flex" *ngIf="isAuthLayout">
  <router-outlet></router-outlet>
</div>


<div class="min-h-screen flex flex-col" *ngIf="!isAuthLayout">
  <div class="w-full h-[65px] fixed z-20">
    <app-top-menu />
  </div>  <!-- Top Navigation Bar -->
  <div class="flex flex-grow bg-[#f9fafb] h-full mt-[70px]">
    <div class="w-[400px] h-full xl:flex-grow fixed hidden xl:flex px-7 py-5 side-bar-container">
      <app-sidenav class="flex"/> <!-- Side Navigation Bar -->
    </div>
    <div class="flex flex-grow px-10 pb-2 w-full xl:ml-[380px]" id="content-area">
      <router-outlet></router-outlet>
    </div>  <!-- Content Area -->
  </div>
</div>
