<!--<div class="h-screen flex">-->
<!--  <div class="w-1/2 h-full"></div> &lt;!&ndash; Login/Signup Picture&ndash;&gt;-->
<!--  <div class="w-1/2 h-full"></div> &lt;!&ndash; Login/Signup Form&ndash;&gt;-->
<!--</div>-->


<div class="h-screen flex flex-col">
  <div class="h-[75px]"></div>  <!-- Top Navigation Bar -->
  <div class="flex flex-grow bg-[#f9fafb]">
    <div class="w-[400px] h-full hidden xl:block px-7 py-5">
      <app-sidenav class="h-full flex"/> <!-- Side Navigation Bar -->
    </div>
    <div class="flex flex-grow px-10">
      <app-page-header class="w-full h-fit"/>
    </div>  <!-- Content Area -->
  </div>
</div>
