:host ::ng-deep .p-breadcrumb {
  border: none;
  padding: 0;
}

:host ::ng-deep #content-area > .ng-star-inserted {
  width: 100%
}

:host ::ng-deep .p-panel .p-panel-header {
  background: white;
  padding: 0;
  border: none;
}

:host ::ng-deep .p-panel .p-panel-content {
  border-top: 1px solid #e5e7eb;
  border-radius: 6px;
  height: 100%;
}


.side-bar-container {
  height: calc(100vh - 75px);
}

