<app-page-header
  pageTitle="Email Filtering"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
  [showButton]="false"
/>

<app-filter-query [topics]="['All', 'VEGA', 'CodeGen', 'TravelBox', 'Lua']" />

<br />

<app-email-table
  [rows]="[
    {
      subject: 'Communication issue',
      sender: 'chamari@outlook.com',
      receiver: 'support.travelbox@codegen.net',
      date: '2015-03-20',
      sentiment: 'Negative',
      topics: ['CodeGen', 'Communication']
    },
    {
      subject: 'App not working',
      sender: 'Kamal@gmail.com',
      receiver: 'lua.support@codegen.net',
      date: '2024-03-20',
      sentiment: 'Neutral',
      topics: ['Lua']
    },
    {
      subject: 'Inquiry about VEGA',
      sender: 'Danushka@yahoo.com',
      receiver: 'ask@vega.net',
      date: '2024-01-20',
      sentiment: 'Positive',
      topics: ['VEGA', 'EV']
    }
  ]"
/>
