<app-page-header pageTitle="Call Analytics Dashboard" class="w-full h-fit" [breadcrumbItems]="breadcrumbItems"/>
<div class="flex flex-col">
  <div class="flex gap-6 flex-wrap">
    <div class="stat-cards">
      <app-stat-card title="{{callStatistics.totalCalls}}" subTitle="Total Calls" imgPath="./call/blue-phone.png"/>
      <app-stat-card title="{{callStatistics.averageCallTime}}" subTitle="Avg. Call Time" imgPath="./call/green-call.png"/>
      <app-stat-card title="{{callStatistics.totalMinutes}}" subTitle="Total Minute" imgPath="./call/blue-call.png"/>
    </div>
    <app-line-area-chart title="Sentiment Over Time"/>
    <app-doughnut-chart title="Call Summary"/>
  </div>
  <div class="flex gap-7 flex-wrap">
    <app-horizontal-bar-chart/>
    <app-gauge-chart/>
    <div class="stat-cards">
      <app-stat-card title="{{callStatistics.positiveCalls}}" subTitle="Positive Calls" imgPath="./call/green-call.png"/>
      <app-stat-card title="{{callStatistics.negativeCalls}}" subTitle="Negative Calls" imgPath="./call/red-phone.png"/>
      <app-stat-card title="{{callStatistics.neutralCalls}}" subTitle="Neutral Calls" imgPath="./call/yellow-phone.png"/>
    </div>
  </div>
  <div class="flex gap-7 flex-wrap">
    <app-recent-calls-card/>
  </div>
</div>
