:host ::ng-deep {
    .addRole button{
      background-color: #000000;
      border: 1px solid #000000;
    }
    .addRoleBtn{
      background-color: #000000;
      border: 1px solid #000000;
    }
  }

