<app-page-header
  pageTitle="User Profile"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
/>

<div>
  <p-tabView [(activeIndex)]="activeIndex" (click)="clickTab($event)">
    <p-tabPanel *ngFor="let tab of tabs" [header]="tab.title" >
      <app-edit-profile *ngIf="tab.title === 'Edit Profile'" [title]="tab.title" ></app-edit-profile>
<!--      <app-user-notification *ngIf="tab.title === 'Notifications'" [title]="tab.title"></app-user-notification>-->
      <app-user-security *ngIf="tab.title === 'Security'" [title]="tab.title"></app-user-security>
    </p-tabPanel>
  </p-tabView>
</div>

