:host ::ng-deep {
  .addMember button{
    background-color: #000000;
    border: 1px solid #000000;
  }

  .p-sidebar-right{
      width:500px
  }


  p-multiselect {
    width:100%;

    #pn_id_34 {
      width:100%
    }
  }

  #user_name, #email, #phone_number, #temporary_password{
    width: 100%;
  }




}
