//:host ::ng-deep {
//    //janith
//  p-panel{
//    height:100%;
//    width:100%
//
//  }
//  .p-component{
//    height:100%;
//  }
//  .p-panel-content{
//    height:100%;
//  }
//  .p-toggleable-content{
//    height:100%
//  }
//
//  .p-menubar{
//    border:none;
//    background: inherit;
//  }
//  angledownicon{
//    display:none;
//  }
//  .container-border{
//    height:100%
//  }
//  .chart-header-container {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//  }
//
//  .title-container {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  border-bottom: 2px solid #ccc; /* Adds underline */
//  padding-bottom: 2px; /* Adds padding to create space between text and underline */
//  margin-bottom: 1rem; /* Adds space below the title */
//  position: relative; /* Make sure the position is relative for the menu */
//  }
//
//  .chart-title {
//    font-size: 18px;
//    font-weight: bold; /* Make the title bold */
//    text-align: left;
//    padding-top: 1px;
//    padding-left: 2px;
//  }
//
//  .menu-container {
//    position: relative; /* Ensure the menu is positioned relative to the container */
//  }
//
//  .menu-icon {
//    cursor: pointer;
//  }
//}


:host ::ng-deep {
  .p-panel-content {
    border: 0;
    border-radius: 0;
  }
  //janith
  .p-panel{
    height:100%;

  }
  .p-component{
    height:100%;
  }
  .p-panel-content{
    height:100%;
  }
  .p-toggleable-content{
    height:100%
  }
  .chart-header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30px;

  }
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc; /* Adds underline */
    padding-bottom: 2px; /* Adds padding to create space between text and underline */
    margin-bottom: 1rem; /* Adds space below the title */
    position: relative; /* Make sure the position is relative for the menu */
  }

  .chart-title {
    font-size: 18px;
    font-weight: bold; /* Make the title bold */
    text-align: left;
    padding-top: 1px;
    padding-left: 2px;
  }

  .menu-container {
    position: relative; /* Ensure the menu is positioned relative to the container */
  }

  .menu-icon {
    cursor: pointer;
  }
  .p-menubar{
    border:none;
    background: inherit;
  }
  angledownicon{
    display:none;
  }
  p-chart div:first-child{
    height:80%;
    width: 80%;
    // algin center
    margin: auto;


  }

    .settings-button-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
  .settings-button-container button:first-child{

    background-color: white;
    color: black;
    border: white;
    z-index: 100;
    position:relative;

  }
  .settings-button-container button:first-child:hover {
    cursor: pointer;
    opacity: 0.7;
  }

}





