<app-page-header
  pageTitle="Main Dashboard"
  class="w-full h-fit"
  [breadcrumbItems]="breadcrumbItems"
  [showAddWidgetButton]="true"
  [showAddMemberButton]="false"
  [showDatePicker]="true"
/>

<!--<app-doughnut-chart title="Sentiments Summary" [percentages]="[100, 50, 75]"/>-->
<!--<app-line-area-chart title="Sentiment Over Time"/>-->
<div class="flex flex-col">
  <div class="flex gap-4 flex-wrap">

    <app-doughnut-chart title="Sentiments Summary"/>
    <app-line-area-chart title="Sentiment Over Time"/>

    <app-gauge-chart/>


    <app-horizontal-bar-chart/>
    <app-wordcloud [words]="myData" title="Test WordCloud Title" />
  </div>
</div>
