.stat-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-top-right-bar {
  font-size: 0.9rem;
  width: auto;
  color: #677077;
  font-weight: bold;
}

.right-bar-icon {
  cursor: pointer;
}
