<p-panel class="hover:cursor-pointer" (click)="testing()">

    <div class="card flex flex-wrap content-center justify-center">
            <p-chart type="pie" [data]="data" [options]="options" width="200px"/>
           
            <p-chart type="pie" [data]="data" [options]="options" width="200px"/>
           
            <p-chart type="pie" [data]="data" [options]="options" width="200px"/>
            <p-chart type="pie" [data]="data" [options]="options" width="200px"/>

            <p-chart type="pie" [data]="data" [options]="options" width="200px"/>

    </div>
</p-panel>