<p-panel class="flex flex-col text-left justify-center mb-4">
  <div class="flex gap-8 space-between">
    <!--Calendar-->
    <div>
      <p>Date Range:</p>
      <div class="card flex justify-content-center">
        <p-calendar
          [(ngModel)]="dateRange"
          selectionMode="range"
          [readonlyInput]="true"
          [showIcon]="true"
          [showButtonBar]="true"
        ></p-calendar>
      </div>
    </div>

    <!--Topics-->
    <div>
      <p>Topic:</p>
      <div class="card flex justify-content-center grow">
        <p-dropdown
          [options]="topics"
          [(ngModel)]="topicSelected"
          [showClear]="true"
          placeholder="Topic"
        ></p-dropdown>
      </div>
    </div>

    <!--Sentiment Category-->
    <div>
      <p>Sentiment:</p>
      <div class="card flex justify-content-center">
        <p-dropdown
          [options]="sentiments"
          [(ngModel)]="sentimentSelected"
          [showClear]="true"
          placeholder="Sentiment Category"
        ></p-dropdown>
      </div>
    </div>

    <!--Subject-->
    <div class="grow">
      <p>Subject:</p>
      <div class="card flex justify-content-center grow">
        <input
          pInputText
          type="text"
          id="keyword"
          [(ngModel)]="subject"
          placeholder="Subject"
          class="w-full"
        />
      </div>
    </div>
  </div>

  <br />

  <!--Next row-->
  <div class="w-100 flex justify-between">
    <div class="flex flex-row justify-between items-center gap-6">
      <div>
        <p>Sender:</p>
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="senders"
            [(ngModel)]="senderSelected"
            [showClear]="true"
            [editable]="true"
            placeholder="Sender"
          ></p-dropdown>
        </div>
      </div>

      <div>
        <p>Receiver:</p>
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="receivers"
            [(ngModel)]="receiverSelected"
            [showClear]="true"
            [editable]="true"
            placeholder="Receiver"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <div class="card flex justify-center gap-3 items-end">
      <p-button label="Apply Filter"></p-button>
      <p-button
        label="Clear Filters"
        [outlined]="true"
        (click)="clearFilters()"
      ></p-button>
    </div>
  </div>
  <br />
</p-panel>

<!--

<form action="" method="get" onsubmit="return false">
  <div class="grid-container">
    <div class="grid-item">
      <label>
        Date Range:
        <br />
        <input type="date" name="query-date-start" />
        &nbsp; to &nbsp;
        <input type="date" name="query-date-end" />
      </label>
    </div>

    <div class="grid-item">
      <label>
        Topic:
        <select name="query-topic">
          <option *ngFor="let topic of topics" value="{{ topic }}">
            {{ topic }}
          </option>
        </select>
      </label>
    </div>

    <div class="grid-item">
      <label>
        Sentiment:
        <select name="query-sentiment">
          <option value="all">All</option>
          <option value="postive">Positive</option>
          <option value="neutral">Neutral</option>
          <option value="negative">Negative</option>
        </select>
      </label>
    </div>

    <div class="grid-item">
      <label>
        Sender:
        <input type="search" name="query-sender" />
      </label>
    </div>

    <div class="grid-item">

      <label>
        Receiver:
        <input type="search" name="query-receiver" />
      </label>
    </div>

    <div class="grid-item">
      <label>
        Subject:
        <input type="search" name="query-subject" />
      </label>
    </div>

    <div class="grid-item">

    </div>

    <div class="grid-item">

    </div>

    <div class="grid-item button-container">
      <input type="submit" value="Apply Filter" />

      <input type="reset" value="Clear Filters" />
    </div>
  </div>
</form>

-->
