:root {
    --primary: #3b82f6;
    --secondary: white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.1rem;
    padding: 2rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.grid-item {
    font-size: 1rem;
    padding: 0.5rem;
}
input, select {
    min-height: 2rem;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 3px;
}
input[type="search"], select {
    width: 100%;
}
input[type="date"] {
    width: 40%;
}

input[type="submit"], input[type="reset"] {
    padding: 0.5rem 0;
    width: 150px;
    border-radius: 5px;
    font-size: 1rem;
    border: 0;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
}
input[type="submit"] {
    color: white;
    background-color: #3b82f6;
}
input[type="submit"]:hover {
    color: #3b82f6;
    background-color: white;
    -webkit-box-shadow:inset 0px 0px 0px 2px #3b82f6;
    -moz-box-shadow:inset 0px 0px 0px 2px #3b82f6;
    box-shadow:inset 0px 0px 0px 2px #3b82f6;
}
input[type="reset"] {
    --face-color: #666;
    color: var(--face-color);
    background-color: white;
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--face-color);
    -moz-box-shadow:inset 0px 0px 0px 2px var(--face-color);
    box-shadow:inset 0px 0px 0px 2px var(--face-color);
}
input[type="reset"]:hover {
    color: white;
    background-color: red;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Change this value as needed */
}
.button-container input {
    flex-grow: 1;
    margin: 0 10px; /* Adjust the gap between buttons */
}

