<p-panel class="flex flex-col text-left justify-center mb-4">
  <div class="flex gap-8 space-between">
    <!--Calendar-->
    <div>
      <p>Date Range:</p>
      <div class="card flex justify-content-center">
        <p-calendar
          [(ngModel)]="dateRange"
          selectionMode="range"
          [readonlyInput]="true"
          [showIcon]="true"
          [showButtonBar]="true"
        ></p-calendar>
      </div>
    </div>

    <!--Topics-->
    <div>
      <p>Topic:</p>
      <div class="card flex justify-content-center grow">
        <p-dropdown
          [options]="topics"
          [(ngModel)]="topicSelected"
          [showClear]="true"
          placeholder="Topic"
        ></p-dropdown>
      </div>
    </div>

    <!--Sentiment Category-->
    <div>
      <p>Sentiment:</p>
      <div class="card flex justify-content-center">
        <p-dropdown
          [options]="sentiments"
          [(ngModel)]="sentimentSelected"
          [showClear]="true"
          placeholder="Sentiment Category"
        ></p-dropdown>
      </div>
    </div>

    <!--Subject-->
    <div class="grow">
      <p>Subject:</p>
      <div class="card flex justify-content-center grow">
        <input
          pInputText
          type="text"
          id="keyword"
          [(ngModel)]="subject"
          placeholder="Subject"
          class="w-full"
        />
      </div>
    </div>
  </div>

  <br />

  <!--Next row-->
  <div class="w-100 flex justify-between">
    <div class="flex flex-row justify-between items-center gap-6">
      <div>
        <p>Sender:</p>
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="senders"
            [(ngModel)]="senderSelected"
            [showClear]="true"
            [editable]="true"
            placeholder="Sender"
          ></p-dropdown>
        </div>
      </div>

      <div>
        <p>Receiver:</p>
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="receivers"
            [(ngModel)]="receiverSelected"
            [showClear]="true"
            [editable]="true"
            placeholder="Receiver"
          ></p-dropdown>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <div class="card flex justify-center gap-3 items-end">
      <p-button 
        label="Apply Filter"
        (click)="applyFilters()"
        (keydown.enter)="applyFilters()"
      ></p-button>
      <p-button
        label="Clear Filters"
        [outlined]="true"
        (click)="clearFilters()"
        (keydown.enter)="clearFilters()"
      ></p-button>
    </div>
  </div>
  <br />
</p-panel>

