<div class="w-full" (click)="popup()">
    <p-table
        [value]="displayedAccounts"
        [tableStyle]="{'min-width': '20rem'}"
        styleClass="p-datatable-sm"
        tablesStyleClass="leading-normal"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Account</th>
                <th pFrozenColumn alignFrozen="right" class="text-right"><i class="pi pi-inbox"></i></th>
                <th pFrozenColumn alignFrozen="right" class="text-right"><i class="pi pi-thumbs-up"></i></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr>
                <td>{{ account.no }}</td>
                <td>{{ account.name }}</td>
                <td pFrozenColumn alignFrozen="right" class="text-right">{{ account.count }}</td>
                <td pFrozenColumn alignFrozen="right" class="text-right">{{ account.sentiment }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
  header="Overall Insights"
  [(visible)]="dialogVisible"
  [style]="{ width: '70vw' }"
  [modal]="true"
  [closable]="true"
  [maximizable]="true"
  [draggable]="false"
  [breakpoints]="{ '1199px': '80vw', '575px': '90vw' }"
>
  Testing
</p-dialog>
