<div class="my-container flex flex-col h-auto">
    <div class="my-child-1 flex-none">
      <app-page-header
        pageTitle="Email Analytics Dashboard"
        class="w-full h-fit"
        [breadcrumbItems]="breadcrumbItems"
        [showDatePicker]="true"
        (rangeDatesChanged)="onRangeDatesChanged($event)"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [emailDashboardDate]="true"
        [intervalInDaysStart]="intervalInDaysStart"
        [intervalInDaysEnd]="intervalInDaysEnd"
      />
    </div>
  
  </div>
  
  <div class="size-1/5"></div>
  
  <div class="flex flex-col">
    <div class="flex flex-wrap gap-6">

      <!-- 'No of stats' stat cards-->
      <div class="stat-cards" *ngIf="!isLoadingStatcards">
        <div *ngFor="let item of statsData" >
          <app-stat-card-mgr-analytics 
            [title]="item.title.toString()"
            [subTitle]="item.sub_title"
            [header]="item.header"
            [fontColor]="item.fontColor"
            [subheader]="item.subheader"
          ></app-stat-card-mgr-analytics>
        </div>
      </div>


  
      <div class="flex flex-wrap gap-6">
        <app-best-worst-card
          [header]="overallOverdueIssuesHeader"
          [card_content]="overallOverdueIssuesContent"
          [bgcolor]="noOfOverdueIssuesColor"
          *ngIf="!isLoadingoverallOverdueIssuesCount"
        />
      </div>
  
      <div class="flex flex-wrap gap-6">
        <app-multi-vertical-bar-chart
          title="Efficiency Distribution"
          [labels]="effi_dstri_vert_bar_labels"
          [efficiency_dataset_for_issues]="effi_distri_vert_var_issues_data"
          [efficiency_dataset_for_inquiries]="effi_distri_vert_var_inquiries_data"
          *ngIf="!isLoadingEffiDistri"
        />
  
        <app-multi-vertical-bar-chart
          title="Effectiveness Distribution"
          [labels]="effect_dstri_vert_bar_labels"
          [efficiency_dataset_for_issues]="effect_distri_vert_var_issues_data"
          [efficiency_dataset_for_inquiries]="
            effect_distri_vert_var_inquiries_data
          "
          *ngIf="!isLoadingEffectDistri"
        />
      </div>
    </div>
  
    <div class="flex flex-wrap gap-6">
      <app-horizontal-bar-chart
        title="Issue Types Distribution"
        [sbtChartLabels]="issue_types_distri_labels"
        [sbtChartColors]="issue_types_distri_colors"
        [sbtChartValues]="issue_types_distri_data"
        *ngIf="!isLoadingIssueTypes"
      />
  
      <app-horizontal-bar-chart
        title="Inquiry Types Distribution"
        [sbtChartLabels]="inquiry_types_distri_labels"
        [sbtChartColors]="inquiry_types_distri_colors"
        [sbtChartValues]="inquiry_types_distri_data"
        *ngIf="!isLoadingInquiryTypes"
      />
    </div>
  
  
    <div class="flex flex-wrap gap-6">
      <app-dynamic-stacked-bar-chart
        title="Issue and Inquiry Distribution of Products"
        [labels]="prodcuts_distri_of_issues_and_inquiries_labels"
        [datasets]="prodcuts_distri_of_issues_and_inquiries_datasets"
        *ngIf="!isLoadingProductdistriOfIssuesnInquirires"
      />
    </div>

  </div>
  