<div class="w-full flex justify-between items-center">
  <div class="w-fit">
    <h2 class="font-bold mb-2">{{ pageTitle }}</h2>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="home"></p-breadcrumb>
  </div>
<!--  <div class="flex items-right w-fit" *ngIf="showDatePicker">-->
<!--    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true" class="z-10"></p-calendar>-->
<!--  </div>-->

  <div class="w-fit" *ngIf="showButton">
    <p-button [outlined]="false" (click)="addCallRecordings()">+ Add Call Recordings</p-button>
  </div>

  <div class="w-fit ms-auto pe-5 pt-1" *ngIf="showDatePicker"> <!--need to give default data range-->
    <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true" class="z-10"></p-calendar>
  </div>

  <div class="w-fit">
    <app-right-sidebar [showAddMemberButton]="showAddMemberButton" [showAddWidgetButton]="showAddWidgetButton"></app-right-sidebar>
  </div>

</div>
<p-divider></p-divider>

