<app-page-header
  class="w-full h-fit"
  [showDatePicker]="true"
  (rangeDatesChanged)="onRangeDatesChanged($event)"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [emailDashboardDate]="true"
  [intervalInDaysStart]="intervalInDaysStart"
  [intervalInDaysEnd]="intervalInDaysEnd"
/>



<div class="flex flex-col">
  <div class="flex flex-wrap gap-6">
    <div class="flex flex-row flex-wrap place-content-evenly w-full">
      <app-gauge-chart [dataValue]="dataValue_forGaugeStart" *ngIf="!isLoadingGC"/>
      <app-doughnut-chart title="Overall Sentiments Proportion" [chartData]="chartData" *ngIf="!isLoadingDC"/>
      <!-- <app-doughnut-chart title="Current Overall Sentiments" /> -->
     
      <app-wordcloud [words]="wordCloudData" title="Trending Products" *ngIf="!isLoadingWCC"/>
    </div>
    <div class="flex flex-row flex-wrap place-content-evenly w-full">
      <app-line-area-chart title="Sentiments Over Time"  
      [labels]="labelsForSentimentsByTime" 
      [positive_values]="positive_values_forSentimentsByTime" 
      [neutral_values]="neutral_values_forSentimentsByTime" 
      [negative_values]="negative_values_forSentimentsbyTime" 
      *ngIf="!isLoadingSBTime"/>

    </div>

    <!-- <app-stat-card title="540" subTitle="Total Calls" imgPath="./call/blue-phone.png"/>
      <app-stat-card title="10 min" subTitle="Avg. Call Time" imgPath="./call/green-call.png"/>
      <app-stat-card title="5402" subTitle="Total Minute" imgPath="./call/blue-call.png"/> -->
    <!-- </div> -->
  </div>
  
  <div class="flex flex-wrap gap-6 place-content-evenly w-full">
    <app-stacked-bar-chart 
    title="Email count by sentiments and products"
    [labels]="labels_forStackedBarChart" 
    [negativeDataSet]="negativeDataSet_forStackedBarChart" 
    [neutralDataSet]="neutralDataSet_forStackedBarChart" 
    [positiveDataSet]="positiveDataSet_forStackedBarChart"
    *ngIf="!isLoadingSDT" />

  </div>

  <div class="flex flex-wrap gap-6 place-content-evenly w-full">
    <app-multi-horizontal-bar-chart title="Average sentiments distribution of Products"
    [labels]="labels_forMultiHorizontal"
    [avgPositiveValues]="positiveDataSet_forMulti_HorizontalBarChart"
    [avgNeutralValues]="neutralDataSet_forMulti_HorizontalBarChart"
    [avgNegativeValues]="negativeDataSet_forMulti_HorizontalBarChart"
    *ngIf="!isLoadingSDT"/>
  </div>
  

  
  
 
  <div class="flex flex-wrap gap-6 place-content-evenly w-full">
    <app-horizontal-bar-chart title = "Average sentiment score By Products" [sbtChartLabels]="sbtChartLabels" [sbtChartColors]="sbtChartColors" [sbtChartValues]="sbtChartValues" *ngIf="!isLoadingSBT"/>

  </div>

      <!-- <div class="stat-cards"> -->
    <!-- <app-stat-card title="540" subTitle="Total Calls" imgPath="./call/blue-phone.png"/>
      <app-stat-card title="10 min" subTitle="Avg. Call Time" imgPath="./call/green-call.png"/>
      <app-stat-card title="5402" subTitle="Total Minute" imgPath="./call/blue-call.png"/> -->
    <!-- </div> -->
    <!-- <app-line-area-chart title="Sentiment Over Time"/> -->
  <div class="flex gap-6 flex-wrap">
    <!-- <app-gauge-chart/> -->
    <div class="stat-cards">
      <!-- <app-stat-card title="240" subTitle="Positive Calls" imgPath="./call/green-call.png"/>
      <app-stat-card title="100" subTitle="Negative Calls" imgPath="./call/red-phone.png"/>
      <app-stat-card title="200" subTitle="Neutral Calls" imgPath="./call/yellow-phone.png"/> -->
    </div>
  </div>
</div>
