@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind utilities;

:root {
  --negative-color:  #FF6E76;
  --positive-color: #5dd28d;
  --neutral-color: #e7cb59;
  --negative-hover-color:  #f87171;
  --positive-hover-color: #4ade80;
  --neutral-hover-color: #facc15;
  --header-backgound: #2c2c2c;
  --primary-color: #3B82F6;
  --red-color: #EF4444;
  --alpha-value: 99;

  //the following are only for the email-analytics---------------
  --issue-color: rgba(18, 86, 222, 0.9);
  --inquiry-color: rgba(222, 18, 195, 0.9);
  --inefficient-color: rgba(241, 144, 25, 0.9);
  --less-efficient-color: rgba(241, 219, 25, 0.9);
  --moderately-efficient-color: rgba(37, 228, 23, 0.9);
  --highly-efficient-color: rgba(17, 193, 14, 0.9);
  --ongoing-color:rgba(42, 77, 85, 0.9);
  --closed-color:rgba(13, 172, 117, 0.9);

  --inefficient-clicked-color: rgba(190, 114, 22, 0.9);
  --less-efficient-clicked-color: rgba(180, 164, 20, 0.9);
  --moderately-efficient-clicked-color: rgba(29, 172, 19, 0.9);
  --highly-efficient-clicked-color: rgba(11, 121, 9, 0.9);
  --ongoing-clicked-color:rgba(64, 113, 124, 0.9);
  --closed-color:rgba(18, 222, 151, 0.9);

  //--------------------------------------------------------------
}

mwl-gauge {
  width: 350px;
  height: 350px;
  display: block;
  padding: 10px;
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.gauge-container.two {
}

.gauge-container.two > .gauge .dial {
  stroke: #334455;
  stroke-width: 10;
}
.gauge-container.two > .gauge .value {
  stroke: orange;
  stroke-dasharray: none;
  stroke-width: 13;
}
.gauge-container.two > .gauge .value-text {
  fill: #ccc;
  font-weight: 100;
  font-size: 1em;
}

.gauge-container {
  width: 350px;
  height: 350px;
  display: block;
  float: left;
  padding: 10px;
  margin: 7px;
  border-radius: 3px;
  position: relative;
}
.gauge-container > .gauge .dial {
  stroke: #334455;
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}




/* ------- Alternate Style ------- */
.wrapper {
  height: 200px;
  margin: 7px;
  overflow: hidden;
}
.wrapper > .gauge-container {
  margin: 0;
}
