
<!-- <div>
       <p-messages [(value)]="readnotifications" [enableService]="true" [closable]="true">{{read notifications[0].severity}}</p-messages>
</div> -->

              <!-- &lt;!&ndash; <div *ngFor="let notificationArray of Read notifications"> (click)="showDialog(notificationArray[0])">
               <p-messages [value]="notificationArray" [enableService]="false" [closable]="true" ></p-messages>
           </div> &ndash;&gt; -->
<div>
  <div>
    <div class="action-bar d-flex justify-content-between align-items-center">
      <!-- Left side buttons -->
<!--      <div class="left-buttons">-->
<!--&lt;!&ndash;        <p-button&ndash;&gt;-->
<!--&lt;!&ndash;          type="button"&ndash;&gt;-->
<!--&lt;!&ndash;          pRipple&ndash;&gt;-->
<!--&lt;!&ndash;          (click)="addMessages()"&ndash;&gt;-->
<!--&lt;!&ndash;          label="Show all"&ndash;&gt;-->
<!--&lt;!&ndash;          [outlined]="true"&ndash;&gt;-->
<!--&lt;!&ndash;          styleClass="mr-2"/>&ndash;&gt;-->
<!--        <p-button-->
<!--          type="button"-->
<!--          pRipple-->
<!--          (click)="clearMessages()"-->
<!--          label="Clear all"-->
<!--          [outlined]="true"-->
<!--          severity="danger"/>-->
<!--      </div>-->

      <!-- Right side calendar and icon -->

      
<!-- <div class="right-controls d-flex align-items-center">
        <p-calendar
          [(ngModel)]="rangeDates"
          selectionMode="range"
          dateFormat="yy-mm-dd"
          [readonlyInput]="false"
          [showIcon]="true"
          (ngModelChange)="onDateRangeChange()"></p-calendar>
        <i class="pi pi-history" style="font-size: 1.3rem; margin-left: 10px" (click)="dateReset()"></i>
      </div>
</div> -->


    <div *ngFor="let notification of filteredNotifications">
      <p-messages
        [value]="[notification]"
        [enableService]="false"
        [closable]="false"
        (click)="viewNotification(notification)"
        class="read notifications"
      ></p-messages>
    </div>

       <p-dialog
          header="{{showData[0]}}"
          [(visible)]="visible"
          [modal]="true"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '50vw' }"
          [draggable]="true"
          [resizable]="true">
                  <p>{{showData[2]}}</p>
                  <h6>{{showData[1]}}</h6>

            <!-- <p-button (click)="showDialog()" label="Show" /> -->
      </p-dialog>
  </div>
</div>
