<app-page-header pageTitle="Call Operators" class="h-fit" [breadcrumbItems]="breadcrumbItems"
                 [showButton]="true" buttonText="+ Add Call Operator" (buttonAction)="onClickAddOperator()"/>

<p-toast></p-toast>
<p-panel class="flex flex-col text-center justify-center mb-4">
  <div class="flex justify-between items-center px-3 mb-5"
       [style.display]="callOperators.length == 0 ? 'block' : 'none'">
    <p>Currently, there are no operators. You can add new operator by clicking <b>Add Call Operator</b> button</p>
  </div>
  <div class="pt-5"></div>
  <div class="flex justify-between items-center px-10 mb-5" *ngFor="let call of callOperators">
    <div class="flex items-center gap-8">
      <img src="./assets/call/call-op.png" width="25" height="25">
      <div class="flex flex-col justify-start m">
        <p class="mb-0 mt-0">{{ call.name }}</p>
        <p class="mb-0 mt-0 text-gray-500 w-fit text-xs">{{ call.operator_id }}</p>
      </div>
    </div>
    <div class="flex gap-3">
      <p-button icon="pi pi-bars" size="small" [outlined]="true"></p-button>
      <p-button icon="pi pi-trash" (click)="showDialogConfirmation(call)" severity="danger" size="small"
                [outlined]="true"></p-button>
    </div>
  </div>
</p-panel>

<p-dialog [draggable]="false" [resizable]="false" header="Confirmation" [modal]="true"
          [(visible)]="isConfirmModalVisible" [style]="{width: '30vw', height: 'auto'}" *ngIf="isConfirmModalVisible">
  <p style="text-align: justify;">
    Are you sure you want to delete call operator {{ selectedOperator.name }}?
  </p>
  <div class="justify-end flex gap-5">
    <p-button label="No" (click)="isConfirmModalVisible = false" [text]="true"></p-button>
    <p-button label="Yes" (click)="onConfirmDelete()" styleClass="p-button-danger"></p-button>
  </div>
</p-dialog>

<p-dialog header="Add New Call Operator" [(visible)]="isModelVisible" [modal]="true" [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <form [formGroup]="operatorForm" class="flex flex-col gap-5 p-10">
    <div class="flex justify-between items-center">
      <label for="op-id" class="w-1/14">Operator Id: </label>
      <input id="op-id" class="w-3/4" type="text" pInputText formControlName="operatorId" [readOnly]="true"
             [disabled]="true"/>
    </div>
    <div class="flex justify-between items-center">
      <label for="op-name" class="w-1/14">Operator Name: </label>
      <div class="w-3/4">
        <input id="op-name" class="w-full" type="text" pInputText formControlName="name"/>
        <p *ngIf="operatorForm.invalid && isSubmitted" class="text-red-500">Operator name is required.</p>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button (click)="onClickSave()" label="Save" pAutoFocus></p-button>
    <p-button (click)="onModalClose()" label="Cancel" severity="secondary" [text]="true"></p-button>
  </ng-template>
</p-dialog>
