<div class="card-bg">
  <div class="grid grid-cols-10 gap-4">
    <div class="col-span-12 font-semibold text-lg">{{ title }}</div>
    <div class="col-span-7 text-base/loose">
      <div>Sender:{{ sender }}</div>
      <div>Receiver: {{ receiver }}</div>
    </div>
    <div class="col-span-3 justify-self-end">
      Overall Sentiment:
      <span
        [ngClass]="{
          'span-green': sentiment === 'Positive',
          'span-red': sentiment === 'Negative',
          'span-blue': sentiment === 'Neutral'
        }"
        >{{ sentiment }}</span
      >
    </div>
    <div class="col-span-2">
      <button (click)="showDialog()">View Original</button>
    </div>
    <div class="col-span-12">
      <hr />
    </div>
    <div class="col-span-12">{{ summary }}</div>
  </div>

  <!-- Overlay -->
  <p-dialog
    header="{{ title }}"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '80vw' }"
  >
    <app-view-thread
      threadId="{{ threadId }}"
    ></app-view-thread>
  </p-dialog>
  <!-- end of overlay -->
</div>
