<div class="card-bg">
  <table>
    <tr>
      <th class="shrink subject" colspan="9">{{ title }}</th>
    </tr>
    <tr>
      <th class="shrink">Receiver</th>
      <td class="shrink">:</td>
      <td class="shrink">{{ receiver }}</td>
      <td class="expand" rowspan="2"></td>
      <th class="shrink" rowspan="2">Overall Sentiment</th>
      <th class="shrink" rowspan="2">:</th>
      <td class="shrink" rowspan="2">
        <span
          [ngClass]="{
            'span-green': sentiment === 'Positive',
            'span-red': sentiment === 'Negative',
            'span-blue': sentiment === 'Neutral'
          }"
          >{{ sentiment }}</span
        >
      </td>
      <td class="expand" rowspan="2"></td>
      <td class="shrink align-right padding-right" rowspan="2">
        <button (click)="showDialog()">View Original</button>
      </td>
    </tr>
    <tr>
      <th class="shrink">Sender</th>
      <td class="shrink">:</td>
      <td class="shrink">{{ sender }}</td>
    </tr>
    <tr>
      <td colspan="9"><hr /></td>
    </tr>

    <tr></tr>
    <tr>
      <td class="align-justify" colspan="9">{{ summary }}</td>
    </tr>
  </table>

  <!-- Overlay -->
  <p-dialog
    header="{{ title }}"
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '80vw' }"
  >
    <app-view-thread
      threadId="{{ threadId }}"
      [threadEmails]="[
        'test email 1',
        'test email 2',
        'test email 3',
        'test email 4',
        'test email 5',
        'test email 6',
        'test email 7',
        'test email 8',
        'test email 9'
      ]"
    ></app-view-thread>
  </p-dialog>
  <!-- end of overlay -->
</div>
