<div class="card-bg">
    <table>
      <tr>
        <th class="shrink subject" colspan="9">This is a test subject</th>
       </tr>
      <tr>
        <th class="shrink">Receiver</th>
        <td class="shrink">:</td>
        <td class="shrink">test_receiver&#64;gmail.com</td>
        <td class="expand" rowspan="2"></td> 
        <th class="shrink" rowspan="2">Overall Sentiment </th>
        <th class="shrink" rowspan="2">:</th>
        <td class="shrink" rowspan="2"><span>Positive</span></td>
        <td class="expand" rowspan="2"></td> 
        <td class="shrink align-right padding-right" rowspan="2">
          <button>View Original</button>    
        </td>
      </tr>
      <tr>
        <th class="shrink">Sender</th>
        <td class="shrink">:</td>
        <td class="shrink">test_sender&#64;gmail.com</td>
      </tr>
      <tr>
        <td colspan="9"><hr></td>
      <tr>
      <tr>
        <td class="align-justify" colspan="9">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum arcu, placerat id pretium eu, scelerisque vel nisi. Mauris urna urna, convallis ac vehicula non, sollicitudin vitae eros. Vivamus ultrices arcu eget augue rutrum, ac semper massa tincidunt. Morbi eu risus et lectus scelerisque scelerisque nec sit amet magna. Praesent blandit tellus id nisl volutpat consequat. Ut dictum diam quis ante tempus volutpat. Pellentesque commodo justo sit amet enim molestie gravida. In maximus eget ex ut placerat. Ut interdum justo urna, at rhoncus diam rutrum id. Maecenas mollis consectetur mollis. Nulla sollicitudin maximus cursus. Praesent sed vestibulum diam. 
        </td>
      </tr>
    </table>
</div>
