<p-panel class="flex flex-col text-center justify-center">
  <div class="title-container">
    <p class="chart-title">{{ title }}</p>
      <p *ngIf="selectedDateRange && selectedDateRange.length === 2 && selectedDateRange[0] && selectedDateRange[1]">{{ selectedDateRange[0]}} - {{ selectedDateRange[1]}}</p>
      <p *ngIf="Date">{{ Date}}</p>
      <div class="card">
        <p-menubar [model]="items" />
      </div>
<!--    <div class="menu-container">-->
<!--      <i class="pi pi-times" style="color: rgb(56, 56, 56)" (click)="confirmDeleted()" *ngIf="closable"></i>-->
<!--    </div>-->
  </div>
  <p-chart type="bar" [data]="data" [options]="options"></p-chart>

<!--  <div *ngIf="categories.length > 1">-->
<!--  <div *ngFor="let category of categories" class="field-checkbox flex align-items-center">-->
<!--    <p-checkbox-->
<!--        [(ngModel)]="selectedCategories"-->
<!--        [label]="category"-->
<!--        name="group"-->
<!--        [value]="category"-->
<!--        (ngModelChange)="onSourceChange(category)"/>-->
<!--  </div>-->
<!--</div>-->


</p-panel>
