<p-panel class="flex flex-col text-center justify-center  ">
    <p class="font-medium text-xl mb-1 mt-1">{{title}}</p>
    <p-chart type="bar" [data]="data" [options]="options"></p-chart>

    <div *ngFor="let category of categories" class="field-checkbox flex align-items-center">
      <p-checkbox 
          [(ngModel)]="selectedCategories"
          [label]="category" 
          name="group" 
          [value]="category" 
          (ngModelChange)="onSourceChange(category)"/>
    </div>
    
    <p *ngIf="selectedDateRange && selectedDateRange.length === 2 && selectedDateRange[0] && selectedDateRange[1]">{{ selectedDateRange[0]}} - {{ selectedDateRange[1]}}</p>
    <p *ngIf="Date">{{ Date}}</p>
  </p-panel>
  