:host ::ng-deep{
  .settings-button-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }
  .settings-button-container button:first-child{

    background-color: white;
    color: black;
    border: white;
    z-index: 100;
    position:relative;

  }
  .settings-button-container button:first-child:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  //janith
  .p-panel{
    height:100%;

  }
  .p-panel-header{
    padding:0;

  }
  .p-component{
    height:100%;
  }
  .p-panel-content{
    height:100%;
  }
  .p-toggleable-content{
    height:100%
  }

  .p-menubar{
    border:none;
    background: inherit;
  }
  angledownicon{
    display:none;
  }
    .chart-header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30px;

  }
}
