.small-input {
    width: 2rem !important;
    padding: 0.25rem !important;
    background-color: #ffffff !important;
    border: 1px solid #e0e0e0 !important;
    color: #333333 !important;
  }
  
  .small-input .p-inputnumber-input {
    width: 100% !important;
    padding: 0.25rem !important;
    font-size: 0.8rem !important;
    height: 1.5rem !important;
    background-color: #ffffff !important;
    border: 1px solid #e0e0e0 !important;
    color: #333333 !important;
  }
  
  .small-input .p-inputnumber-button {
    height: 1rem !important;
    width: 1rem !important;
    font-size: 0.8rem !important;
    line-height: 1rem !important;
    background-color: #ffffff !important;
    border: 1px solid #e0e0e0 !important;
    color: #333333 !important;
  }
  
  .small-input .p-inputnumber-button:hover {
    background-color: #f0f0f0 !important;
    border: 1px solid #d0d0d0 !important;
  }
  
  .small-input .p-inputnumber-button:active {
    background-color: #e0e0e0 !important;
    border: 1px solid #c0c0c0 !important;
  }
  