.slider-container {
    width: 250px; 
    margin-top: 25px;
}

/*.custom-button {
    background-color: blue; 
    color: white; 
}

.custom-button.p-button-outlined {
    background-color: transparent;
    border-color: rgb(53, 52, 52); 
    color: rgb(53, 52, 52); 
}*/

#button{
    position: absolute;
    top: 45%; 
    right: 22%;
}
